<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBsnyT-7KPZ6wNY8co3Sm0mV33Kmf7i3Ss</string>
	<key>GCM_SENDER_ID</key>
	<string>849271738337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.care</string>
	<key>PROJECT_ID</key>
	<string>healthcare-f91fb</string>
	<key>STORAGE_BUCKET</key>
	<string>healthcare-f91fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849271738337:ios:5076785f58977d94b18ca0</string>
	<key>DATABASE_URL</key>
	<string>https://healthcare-f91fb-default-rtdb.firebaseio.com</string>
</dict>
</plist>